.header {
  width: 100vw;
  height: 25vh;
  padding: 1rem;
  position: relative;
  background-image: url('../../images/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &_link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    position: absolute;
    top: 50%;

    &-img {
      width: 90px;
      height: 90px;
      border-radius: 50px;

      @media all and (min-width: 1200px) {
        width: 120px;
        height: 120px;
      }
    }

    &-title {
      color: #7b5a94;
      font-size: 24px;
      font-weight: 800;

      @media all and (min-width: 768px) {
        font-size: 30px;
      }
    }
  }
}
