.country_card {
  width: 80%;
  border: 2px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  @media all and (min-width: 1200px) {
    width: 300px;
    height: 350px;
  }

  &-img {
    width: 80%;
    max-height: 75%;
    // width: 100%;
    padding: 1rem;
    margin: auto;
    display: flex;

    @media all and (min-width: 768px) {
      padding: 0;
    }
  }

  &-heart {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80%;
    left: 70%;
    z-index: 1000;

    @media all and (min-width: 768px) {
      left: 76%;
    }
    @media all and (min-width: 1200px) {
      left: 82%;
    }

    &-img {
      width: 40%;
    }
  }
}

.my-anchor-element {
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  height: 80px;
  position: relative;
}
