.favCountry_card {
  width: 300px;
  height: 350px;
  border: 2px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-img {
    width: 128px;
    height: 80px;
    margin: auto;

    @media all and (min-width: 768px) {
      width: 165px;
    }
    @media all and (min-width: 1200px) {
      width: 237px;
      height: 120px;
    }
  }

  &-text {
    margin: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  &-btn {
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #f7e3eb;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e0c9d1;
    }
  }
}
